html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

nav {
  background-color: #113343;
  height: 4rem;
}

.nav--brand {
  color: white;
  text-decoration: none;
  display: block;
}

.nav--brand_image {
  width: 3rem;
  height: 3rem;
}
